:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  .btn--rounded{
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: all 0.3s ease-out;
  }

  .btn--round-whitebor{
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    border: 1px solid white;
  }
  
  .btn--medium {
    padding: 1.6% 5.6%;
    font-size: 1vw;
  }

  @media screen and (max-width:680px) {
    .btn--medium {
      font-size: 3vw;
    }
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }