.footer-container {
    background-color: #F6EFE5;
    background-image: url('../images2/footerBG.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30vw;
  }

  .footer-container .footerWrapper{
    width:100%;
    height:100%;
  }

  .footer-container .footerWrapper >hr{
    width:84%;
    margin-left:6%;
    height: 0.2vw;
    background-color: black;
  }  
  .footer-container .socialMedia{
    width:33%;
    height:80%;
    float:left;
  }

  .footer-container .footerInfo{
    width:30%;
    height:80%;
    float:left;
  }

  .footer-container .footerInfo >h2{
    font-family: 'Monserrat';
    font-size:1.5vw;
    margin-top: 10%;
    margin-left: 50%;
    margin-bottom: 5%;
  }

  .footer-container .footerInfo >p{
    margin-left: 50%;
    margin-bottom: 1%;
    font-size: 1vw;
  }

  .footer-container .footerInfo >p >a{
    text-decoration: none;
    color: black;
  }
  
  /* Social Icons */
  .social-icon-link {
    color:black;
    font-size: 1.5vw;
    margin-right: 6%;
  }
  
  .social-media {
    max-width: 1000px;
    width: 35%;
    margin-left: 30%;
    margin-top: 2%;
  }

  .contactInfo{
    width:35%;
    float:left;
    height: 80%;
    padding-left:10%;
    padding-top: 3%;
  }

  .footer-input{
    margin-bottom: 3%;
    padding:2%;
    width:55%;
    font-size: 0.8vw;
  }

  .btnsubmit{
    margin-left: 12%;
    padding:2%;
    width:30%;
    color:cornsilk;
    background-color: black;
    font-size: 0.8vw;
  }