.navbar {
  background: black;
  height: 3.8vw;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 3vw;
  z-index: 999;
  font-family: 'Monserrat', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
  width:100%;
  margin-right: auto;
}

.navbar-logo {
  color:black;
  background-color: black;
  justify-self: start;
  margin-left: 40%;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1%;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 6vw;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  height:80%;
  width:5%;
  float: left;
  margin-right: 86%;
  margin-top: -1.2%;
}

.navbar-container >a{
  width: 100%;
  margin-left:40%;
}

.abubabaLogo{
  background-image: url('../images2/ABUBABA\ LOGO.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 3.4vw;
  width: 50%;
  background-position-y:56%;
  margin-left: -5%;
  margin-right: 10%;
}

.icons{
  width:33%;
  height:60%;
  padding-left: 9%;
}

.search-icon{
  width:2%;
  height: 56%;
  position:absolute;
  margin-top: 0%;
  margin-left: 0;
}

.icons .cart-icon{
  height:2vw;
  width:2vw;
  margin-left:3%;
  position: absolute;
  margin-bottom: 2%;
}

@media screen and (max-width:800px){
  .fa-bars {
    color: #fff;
    margin-left: 5%;
    margin-top: 20%;
  }

  .nav-item{
    height: 5vw;
  }

  .fa-bars {
    font-size: 3vw;
    margin-left:-100%;
  }

  .fa-times{
    font-size: 5vw;
  }
}

@media screen and (max-width: 1800px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45vw;
    position: absolute;
    top: 48px;
    left: -100%;
    margin-left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: left;
    padding: 2vw;
    margin-left: 6%;
    width: 90%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2vw;
  }

  .nav-links-mobile {
    display: block;
    text-align: left;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 4% 2%;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width:680px) {
  .navbar {
    background: black;
    height: 12vw;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 10vw;
    z-index: 999;
    font-family: 'Monserrat', sans-serif;
  }

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vw;
    width:100%;
    margin-right: auto;
  }

  .menu-icon {
    height:80%;
    width:5%;
    float: left;
    margin-right: 82%;
    margin-top: -5%;
  }

  .abubabaLogo{
    background-image: url('../images2/ABUBABA\ LOGO.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 12vw;
    width: 100%;
    background-position-y:58%;
    margin-left: -30%;
    margin-right: 10%;
  }

  .nav-menu {
    width: 50%;
    height: 150vw;
    top: 12vw;
    grid-gap: 4%;
  }

  .fa-times {
    font-size: 5vw;
    margin-left: -80%;
  }

  .fa-bars {
    font-size: 5vw;
    margin-left:-80%;
  }

  .nav-item {
    height: 10vw;
    font-size: 3vw;
  }

  .icons{
    width:30%;
    height:70%;
    padding-left:0;
    padding-bottom: 7%;
  }

  .icons .cart-icon{
    min-height: 5.4vw;
    min-width:5.6vw;
    position:relative;
    margin-left: 35%;
    margin-top: 7%;
  }

  .search-icon{
    min-width:5vw;
    max-height: 5.4vw;
    margin-top: 1%;
    margin-left: -3%;
  }
}