.trends {
    padding: 4rem;
    background:#F6EFE5;
    background-image: url('../images2/Background-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
h1 {
    text-align: center;
  }
  
  .trends_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .trends_wrapper {
    position: relative;
    margin-left:auto;
    margin-right: auto;
    width:90%;
  }
  
  .trends_items {
    margin-bottom: 5%;
    width:100%;
  }
  
  .trending_item {
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
  }
  
  .trending_item_link {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-decoration: none;
  }
  
  .trending_item_pic-wrap {
    position: relative;
    width: 100%;
    height: 27vw;
    overflow: hidden;
  }
  /* .trending_item_pic-wrap::after { */
    /* content: attr(data-category); */
    /* position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff; */
    /* background-color: #1f98f4; */
    /* box-sizing: border-box;
  } */
  
  .trending_item_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height:100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .trending_item_info {
    width:100%;
    height: 10.5vw;
    text-decoration: none;
    color:black;
    text-align: center;
  }

  .trending_item_info >h2{
     margin-top: 10%;
     font-family: 'Montserrat';
     font-size: 1.5vw;
  }

  .trending_item_info >h3{
    font-family: 'Montserrat';
    font-size: 1.5vw;
    margin-bottom: -5%;
 }
  
  .trending_item_text {
    background-color: black;
    text-align: center;
    color:whitesmoke;
    font-size: 1.8vw;
    margin-top: 7%;
    height: 35%;
    width: 100%;
    line-height: 50px;
    border-radius:25px;
  }
  
  @media only screen and (min-width: 1024px) {
    .trends_items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .trends{
      padding-top: 2rem;
      padding-bottom: 1rem;
      padding-left:0;
      padding-right: 0;
    }

    .trends >h1 {
      font-size: 12vw;
    }

    .trends_wrapper{
      width:100%;
    }

    .trending_item {
      margin-bottom: 2rem;
      width: 50%;
      float:left;
      height: 100%;
    }

    .trending_item_pic-wrap {
      position: relative;
      width: 100%;
      height: 50vw;
      overflow: hidden;
    }

    .trending_item_img{
      border-radius: 20px;
      height: 96%;
    }
    
    .trending_item_info{
      height: 13vw;
    }

    .trending_item_info >h2{
       margin-top: -2%;
       font-size: 3vw;
    }
  
    .trending_item_info >h3{
      font-size: 3.2vw;
      margin-top: -2%;
   }
    
    .trending_item_text {
      font-size: 3.8vw;
      font-weight: 500;
      width: 84%;
      height: 5vw;
      margin-left:auto;
      margin-right: auto;
      line-height: 17px;
      border-radius:20px;
    }

    .trending_item_link {
      box-shadow: none;
    }
  }