/* @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'TangerineBold';
    src: local('TangerineBold'), url(./fonts/TangerineBold-mwJv.ttf) format('truetype');
} */

/* @font-face {
    font-family: 'Tangerine';
    src: local('Tangerine'), url(./fonts/TangerineRegular-7JAD.ttf) format('truetype');
} */