.pdtImages{
    background-color: #F6EFE5;
    height:50vw;
    width:100%;
    padding-top: 5%;
    padding-left: 10%;
}

.pdtImages .images{
    height:72%;
    width:40%;
    float:left;
}

.pdtImages .images .full{
    width: 84%;
    max-height: 100%;
    display: block; 
}

.pdtImages .images .small{
    width: 27%;
    margin-top: 2%;
    margin-right: 2%;
    max-height: 30%;
    display: block; 
    float: left;
}

.pdtMatter{
   width:40%;
   float:left;
   padding-top:10%;
}

.pdtMatter >h2{
    margin-top: 8%;
    margin-left: 10%;
    font-family: 'Monserrat', sans-serif;
    font-size: 2vw;
    font-weight: 400;
}

.quantity-btn{
    width:25px;
    height:25px; 
    margin-right:1%;
}

.number{
    text-align:center;
    height:25px;
}

.quantity-btn2{
    width:25px;
    height:25px;
    margin-left:1%;
}

.spnbtn1{
    background-color: black;
    color: white;
    border-radius:15px;
    padding: 3.2% 12% 3.2% 12%;
    font-family: 'Montserrat', sans-serif;
    font-size:1vw;
    margin-top: 1.5%;
    margin-left: 10%;
}

.wishlist{
    background-color:#F6EFE5;
    color:black;
    padding: 3.2% 4% 3.2% 4%;
    font-family: 'Montserrat', sans-serif;
    font-size:1vw;
    margin-top: 3%;
    margin-left: 1%;
}

.pdtImages .pdtMatter >p{
    margin-left: 10%;
}

/* #zoomed{
    border:1px solid black;
    height:25vw;
    margin-top: -25%;
} */

.hover1{
    height:30vw;
    width:100%;
    background-color: #F6EFE5;
}

.hover1 .imghovered{
    width: 80%;
    height: 100%;
}

.hover2{
    height:30vw;
    width:100%;
    background-color: #F6EFE5;
}

.hover2 .imghovered{
    width: 90%;
    height: 100%;
}

.hover3{
    height:30vw;
    width:100%;
    background-color: #F6EFE5;
}

.hover3 .imghovered{
    width: 90%;
    height: 100%;
}

.productDes{
    background-color: #F6EFE5;
    width:100%;
    height:40vw;
    padding-left:12%;
    padding-right: 13%;
    padding-top: 3%;
    font-family:'Montserrat', sans-serif;; 
}

h2{
   margin-bottom: 1%;
   font-size: 1.8vw;
}

.productDes >hr{
   height:0.4%;
   background-color: black;
   margin-bottom: 3%;
}

.productDes >p{
    margin-bottom: 3%;
    font-size: 1vw;
}

.productDes >ul{
    margin-bottom: 3%;
    font-size: 1vw;
}

.productDes >h3{
    margin-bottom:1%;
    font-size: 1vw;
    font-weight: 800;
}

.reviews{
    background-color: #F6EFE5;
    width:100%;
}

.review-container{
    width:75%;
    margin:auto;
    border:1.5px solid black;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
}

.reviews .review-container >h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight:900;
    margin-bottom: -1%;
}

.remBullet{
    list-style-type: none;
    margin-bottom: 8%;
}

.review-container >ul{
    margin-top: 2%;
    width: 80%;
}

.span0{
   font-family: 'Montserrat', sans-serif;
   font-size: 1vw;
   font-weight: 600;
   margin-right: 1%;
}

.span1{
    font-size:3vw;
}

.span1 >img{
    max-width: 100%;
    max-height: 100%;
}

.span2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    margin-left: 1%;
    font-weight: 500;
}
.spnbtn{
  background-color: black;
  color: white;
  border-radius:15px;
  padding: 1.5% 5% 1.5% 5%;
  font-family: 'Montserrat', sans-serif;
  font-size:0.8vw;
  cursor: pointer;
}

.btn{
    margin-left: 75%;
    margin-bottom: 20%;
}

.p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7vw;
    margin-bottom: 1%;
    font-weight: 400;
}
.p2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    margin-bottom: 1%;
    font-weight: 400;
}

.marginBtm{
    margin-bottom: 5%;
}

.viewall{
    color: black;
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    margin-left: 90%;
}

.peopleAlso{
    background-color: #F6EFE5;
    padding-top:5%;
    margin-bottom: -5%;
    text-align: center;
}

.peopleAlso >h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 600;
    margin-bottom: 5%;
}

.delivery{
    font-size: 1.2vw;
}

.pdtMatter .sharebtns{
    margin-top: 1%;
    position: absolute;
}

@media screen and (max-width:680px) {
    .pdtImages{
        height:180vw;
        padding-top: 0;
        padding-left: 0;
    }

    .pdtImages .images{
        height:74%;
        width:100%;
    }

    .pdtImages .images .full{
        width: 100%;
        height: 80%;
    }

    .pdtImages .images .small{
        width: 28%;
        margin-top: 1%;
        margin-right: 3%;
        max-height: 30%;
        margin-left: 2%;
    }

    .pdtImages .images .first-one{
        height:20%;
    }

    .pdtMatter{
        width:100%;
        text-align: center;
        padding-top:5%;
     }

     .pdtMatter .sharebtns{
         position:absolute;
         margin-top: 5%;
     }

     .pdtMatter >h1{
        margin-left: 0;
        margin-bottom: -5%;
        font-size: 12vw;
    }

    .pdtMatter >h2{
        margin-left: 0;
        font-size: 5vw;
    }

    .quantity-btn{
        min-width:7vw;
        min-height:5vw;
        font-size: 3vw;
        margin-left: -10%;
        border: 1px solid grey;
    }
    
    .number{
        height:5vw;
        width:6vw;
        font-size: 3vw;
        margin-left: -1%;
        border: 1px solid grey;
    }
    
    .quantity-btn2{
        min-width:7vw;
        min-height:5vw;
        font-size: 3vw;
        margin-left:0;
        border: 1px solid grey;
    }

    .pdtMatter >p{
        font-size: 4vw;
        font-family: 'Monserrat',sans-serif;
        margin-top: -3%;
        margin-right: 8%;
    }

    .spnbtn1{
        border-radius:0;
        padding: 2% 12% 2% 12%;
        font-size:4vw;
        border-radius: 24px;
        margin-top: 5%;
        margin-left: 3%;
        border: none;
    }
    
    .wishlist{
        padding: 2% 2% 2% 2%;
        font-size:3vw;
        margin-top: 7%;
        margin-left: 3%;
    }

    .productDes{
        width:100%;
        height:210vw;
        padding-top: 25%;
        padding-left: 8%;
        padding-right: 6%;
    }

    .productDes >h2{
        font-size: 5vw;
    }

    .productDes >p{
        margin-bottom: 3%;
        font-size: 4vw;
    }
    
    .productDes >h3{
        margin-bottom:2%;
        margin-top: -3%;
        font-size: 4.2vw;
        font-weight: 800;
    }

    .productDes >ul{
        margin-bottom: 5%;
    }
     
    .productDes >ul >li{
        font-size: 4vw;
    }
    
    .reviews .review-container{
        width:90%;
    }

    .reviews .review-container >h2{
        font-size: 3.2vw;
    }

    .span1 >img{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        height: 4vw;
        width:20vw;
        margin-top: 1%;
    }

    .span2{
        font-size: 2.8vw;
        line-height: 7vw;
        margin-left:26%;
    }

    .peopleAlso >h2{
        font-size: 4vw;
        margin-bottom: 10%;
    }

    .spnbtn{
        font-size:3vw;
        margin-left:-18%;
      }

    .viewall{
        font-size: 2vw;
        margin-left: 77%;
    }
    .pdtMatter .delivery{
        font-size: 2.2vw;
    }
}